a{
    text-decoration: none !important;
}

/* ====== Centraliza verticalmente qualquer elemento ====== */
.vertical-center{
    position: relative;
    top: 50%;
    transform: perspective(1px) translateY(-50%);
}
/* ========================= */

/* ====================== Header ====================== */
.headerBlog{
    width: 100%;
    background-image: url("img/Blog/hero.png");
    background-position-x: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #202020;
}

.container-header{
    height: 500px;
}

#grupo-titulo{
    color: white;
    text-shadow: 2px 2px black;
}

#titulo{
    color: #EE3B24;
}
/* ====================================================== */

/* ======================== Menu do Blog ========================= */
.menuBlog{
    background-color: white;
    width:100%;
    border: 1px solid grey;
    border-top: 5px solid #EE3B24;
    box-shadow: 0 5px 30px grey;
}

.elemento-menu{
    border-right: 1px solid grey;
}

#busca-postagens{
    display: flex;
    flex-direction: row;
    padding: 2px;
}

#caixa-busca{
    padding: 5px;
    flex-grow: 2;
    border:none;
    border-bottom: 1px solid grey;
}

#botao-busca{
    padding: 5px;
    border: none;
    background: white;
}

.link-menu{
    padding:0;
    color:black;
}

.link-menu:hover{
    color:#EE3B24;
}

.link-menu:active{
    color:red;
}

.social{
    padding: 15px;
}

.iconesSociais{
    margin-right: 5px;
    width: 24px;
    height: 24px;
}

/* ========================================================== */

/* ====== Media Queries para responsividade ====== */
/* @media (max-width:768px){
    .headerBlog{
        background-image: none;
    }
} */

@media (min-width:1920px){
    .headerBlog{
        background-size: auto;
    }
}
/* ============================================== */