a{
    text-decoration: none !important;
}

/* ====== Centraliza verticalmente qualquer elemento ====== */
.vertical-center{
    position: relative;
    top: 50%;
    transform: perspective(1px) translateY(-50%);
}
/* ========================= */

/* ====================== Header ====================== */
#headerBlog{
    width: 100%;
    background-image: url("../img/Blog/hero.png");
    background-position-x: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #202020;
}

#container_header{
    height: 300px;
}

#grupo-titulo{
    color: white;
    text-shadow: 2px 2px black;
}

.titulo{
    color: #EE3B24;
}
/* ====================================================== */

/* ======================== Menu do Blog ========================= */
.menuBlog{
    border-top: 5px solid #EE3B24;
    box-shadow: 0 5px 30px grey;
}

/* ========================================================== */

/* =================== Conteúdo Principal =================== */
.titpag{
    color:#EE3B24;
    text-align: center;
    margin: 0px;
    font-weight: 600 ;
    font-size : 40px ;
}
.textos{
    text-align: justify;
    margin: 2px;
    font-size: 15px ;
    white-space: pre-line;
    display: flex ;
}

#caixa_saiba_mais{
    text-align: center ;
    margin-top: 20px ;
    margin-bottom: 10px ;
}

#caixa_imagemPost{
    margin-top: 10px ;
    margin-left: 15% ;
    margin-right: 15% ;
    text-align: center
}

.colunaesquerda{ 
    float: left;
    width: 72%;
    padding: 20px;
    margin-top: 10px ;
    margin-left: 20px;
    margin-bottom: 10px; 
}
.colunadireita{
    float: left;
    width: 25%;
    padding: 20px;
    margin-top: 10px ;
    margin-right: 10px;
    margin-bottom: 10px; 
}
.imagem{
    background-color: #aaa;
    width:100%;
    padding:20px;
    height:auto;
}
.imagemPost{
    width:100%;
    border-radius: 10px ;
}
.card{
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.24);
    transition: 0.3s;
    width:100%;
}
  /* Deixar espaço entre as colunas */
.row:after{
    content: "";
    display: table;
    clear: both;
}
.footer{
    margin-top: 20px;
    width: 100%;
    height: 100px;
    background-color: #6a6a6a;
}
.estilodata{
    color:gray;
    font-size:12;
    font-weight: 600;
    text-align: center ;
}
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */

/* ========================================================== */

/* ====== Media Queries para responsividade ====== */

/* @media (max-width:768px){
    .headerBlog{
        background-image: none;
    }
} */

@media (min-width:1920px){
    .headerBlog{
        background-size: auto;
    }
}
@media screen and (max-width: 700px) {
    .colunadireita {
      width: 100%;
      height: auto;
      position: relative;
    }
    .colunadireita {float: left;}
    div.content {margin-left: 0;}
    .colunaesquerda{
        width: 100%;
    }
 }
@media screen and (max-width: 400px) {
    .colunadireita {
      text-align: center;
      float: none;
    }
  }
@media (min-width:1920px){
    .imagem{
        background-size: auto;
    }
}
/* ============================================== */