a:hover {
    text-decoration: none;
}

.saiba_mais{
    box-sizing: border-box;
    position: relative;
    background-color: #ee3b24;
    color: white;
    margin: 5px;
    border: 1px solid transparent;
    font-weight: 600;
    text-align: center;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.15s linear 0s;
}

.saiba_mais:hover{
    color: white;
    background-color: #ff2600;
    text-decoration: none;
}

.saiba_mais:active{
    background-color:red;
}

.img-responsive {
    margin-left: 10% ;
    margin-top: 1% ;
    width: 75% ;
    height: 70%;
}

body{
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.subtitulo_serviços {
    color: #00172f;
    font-size: 26pt;
}

.texto {
    font-size: 16pt;
    color: black;
    text-align: justify;
}

.separador {
    float: left;
    width: 100%;
    border-top: 4px solid #e7e7e7;
}


/* V V V CORRIGIR - NAO ALTERE PROPRIEDADES DA CLASSE DO BOOTSTRAP! V V V */
.col-md-12{
    color:#EE3B24;
    position:relative;
    width: 50%;
    margin:10px;
    padding: 40px;
}
/* ^ ^ ^ CORRIGIR - NAO ALTERE PROPRIEDADES DA CLASSE DO BOOTSTRAP! ^ ^ ^ */

.tituloServicos{
    position:relative;
}
.tituloServicos:before{
    position:absolute;
    left: 45%;
    width: 95px;
    height: 5px;
    content: "";
    display: inline-block;
    top: 55px;
    background-color: #EE3B24;
}
