.col-md-12{
    color:#EE3B24;
    position:relative;
    width: 50%;
    margin:10px;
    padding: 40px;
}
.tituloServicos{
    position:relative;
}
.tituloServicos:before{
    position:absolute;
    left: 45%;
    width: 95px;
    height: 5px;
    content: "";
    display: inline-block;
    top: 55px;
    background-color: #EE3B24;
}