/*----------------------------------   Logo do Site -------------------------------------------*/
/*---------------------------------------------------------------------------------------------*/
@media (max-width:300px){
    body{
        overflow-x: hidden;
    }
    .img-logo{
        height: 37px;
    }
}

/*----------------------------------   Capa do Site -------------------------------------------*/
/*---------------------------------------------------------------------------------------------*/
/* Adaptações para as imagens na capa do site */
/* @media (min-width:541px) and (max-width:768px){
    #secaoCapa{
        height: 60%;
    }
}

@media (min-width:350px) and (max-width:540px){
    #secaoCapa{
        height: 45%;
    }
}

@media (max-width:350px){
    #secaoCapa{
        height: 35%;
    }
} */

/* Adaptações para os textos na capa do site */
@media (max-width:278px){
    .titulosCapa{
        letter-spacing: 0px;
        font-size: 28px;
        top:15%;
    }

    .subtituloCapa{
        font-size: 18px;
        top:63%;
    }
}

@media (min-width:279px) and (max-width:350px){
    .titulosCapa{
        font-size: 30px;
        top:10%;
    }

    .subtituloCapa{
        font-size: 20px;
        top:64%;
    }
}

@media (min-width:351px) and (max-width:541px){
    .titulosCapa{
        font-size: 35px;
        top:20%;
    }

    .subtituloCapa{
        font-size: 23px;
        top:64%;
    }
}

@media (min-width:542px) and (max-width:592px){
    .titulosCapa{
        font-size: 40px;
        top:27%;
    }

    .subtituloCapa{
        font-size: 26px;
        top:62%;
    }
}

@media (min-width:593px) and (max-width:658px){
    .titulosCapa{
        font-size: 40px;
        top:35%;
    }

    .subtituloCapa{
        font-size: 26px;
        top:65%;
    }
}

@media (min-width:659px) and (max-width:791px){
    .titulosCapa{
        font-size: 45px;
        top:40%;
    }

    .subtituloCapa{
        font-size: 30px;
        top:67%;
    }
}

@media (min-width:792px) and (max-width:925px){
    .titulosCapa{
        font-size: 55px;
        top:40%;
    }

    .subtituloCapa{
        font-size: 36px;
        top:67%;
    }
}


/*----------------------------------   Sobre Nós    -------------------------------------------*/
/*---------------------------------------------------------------------------------------------*/

/* Adaptações para os links das abas */
@media (max-width:284px){
    .nav-tabs .nav-item .nav-link {
        padding-left: 3px;
        padding-right: 3px;
        font-size: 10px;
    }
}

@media (min-width:285px) and (max-width:346px){
    .nav-tabs .nav-item .nav-link {
        padding-left: 7px;
        padding-right: 7px;
        font-size: 13px;
    }
}

@media (min-width:347px) and (max-width:406px){
    .nav-tabs .nav-item .nav-link {
        padding-left: 10px;
        padding-right: 10px;
        font-size: 17px;
    }
}

@media (min-width:407px) and (max-width:440px){
    .nav-tabs .nav-item .nav-link {
        font-size: 17px;
    }
}

/* Adaptações para as imagens das abas */
@media (max-width:768px){
    .tab-pane .img-responsive{
        margin-left: 0%;
        width: 100%;
    }
}

@media (min-width:769px) and (max-width:992px){
    .tab-pane .img-responsive{
        margin-left: 7.5%;
        width: 85%;
    }
}

/*----------------------------------   Serviços   ---------------------------------------------*/
/*---------------------------------------------------------------------------------------------*/

@media (max-width:768px){
    .subtituloSecoes{
        display: none;
    }
}

@media (max-width:767px){
    .linksServicos{
        height: auto;
    }
}

@media (min-width:768px) and (max-width:991px){
    .linksServicos{
        height: 300px;
    }
}

@media (min-width:992px) and (max-width:1999px){
    .linksServicos{
        height: 280px;
    }
}

@media (min-width:1200px){
    .linksServicos{
        height: 240px;
    }
}

/*----------------------------------   Contatos   ---------------------------------------------*/
/*---------------------------------------------------------------------------------------------*/

@media (max-width:767px){
    .row#container_contato{
        display: block;
    }
}

/*----------------------------------   Formulário da página de Serviços   ---------------------*/
/*---------------------------------------------------------------------------------------------*/

@media (min-width:992px){
    .formularioServicos .contato_input{
        width: 60%;
    }
}