/*----------------------------------   Layout   -----------------------------------------------*/
/*---------------------------------------------------------------------------------------------*/

#forma_rodape{
    background-color: #333 ;
    widows: 100%;
    height: auto;
}

#forma_copyright{
  background-color: #222 ;
  border-top: 1px solid #555;
  width: 100% ;
  height: auto;

}

.rodape_link{
    color: #9E9E9E;
}

.rodape_link:hover{
    color: #EE3B24;
    text-decoration: none ;
    transition: 0.15s linear ;
}

.rodape_listas{
    list-style-type: none ;
    padding: 0 ;
}

.rodape_elementos{
    color: #9E9E9E;
    margin-top: 5px;
}

#rodape_logo{
    margin-top: 20px ;
    background-color: #2C2C2C ;
    width: 100% ;
    height: 100% ;
}

.margem_listas{
    margin-top: 15px ;
}

#margem_conteudo{
    background-color: #333 ;
    padding: 30px 0px 50px;
}

.contato_texto:hover{
    color: #EE3B24;
    transition: 0.15s linear ;
}

.tags{
    margin-top: 5px ;
    float: left;
    padding: 3px 10px;
    color: #9E9E9E ;
    background-color: #2C2C2C ;
    border-radius: 10px ;
   
}

.tags:hover{
    color: #333  ;
    background-color: #EE3B24;
    transition: 0.15s linear ;
}

.linha{
    display: block;
    margin: auto;
    content: "";
    width: 80%;
    height: 3px;
    margin-left: 0px ;
    background: #EE3B24;
    border-radius: 5px ;
}

#social_lista>li{
    display: inline-block; 
    margin-top: 25px;
    margin-right: 0;
    padding-left: 3px;
    padding-right: 3px;
} 

#social_margem{
    margin-left: 105px ;
}

.social_link{
    text-align: center;
    padding: 5px 2px;
    background-color: rgb(58, 58, 58)  ;
    color:  #9E9E9E ;
    font-weight: 400 ;
    border-radius: 25px ;
    display: block ;
}

#social_link_facebook:hover{
    text-decoration: none ;
    background-color:  #133783;
    color: rgb(0, 0, 0) ;
    transition: 0.15s linear ;
}

#social_link_instagram:hover{
    text-decoration: none ;
    background-color:  #e95950;
    color: rgb(0, 0, 0) ;
    transition: 0.15s linear ;
}

#social_link_youtube:hover{
    text-decoration: none ;
    background-color:  #cc181e;
    color: rgb(0, 0, 0) ;
    transition: 0.15s linear ;
}
/*----------------------------------   Tipografia   -------------------------------------------*/
/*---------------------------------------------------------------------------------------------*/

.rodape_titulos{
    color:  #C5C5C2!important ;
}

.contato_texto{
    font-size: 15px ;
}

.Copyright_texto{
    font-size: 18px;
    color: #C4C4C4;
    margin: 25px 0px;
    font-weight: 500;
}

.Copyright_sublinhado{
color: #EE3B24 ;
}

/*----------------------------------   imagens   -------------------------------------------*/
/*---------------------------------------------------------------------------------------------*/

.social_icone{
    width: 24% ;
    height: 24% ;
}