/*----------------------------------   Layout   -----------------------------------------------*/
/*---------------------------------------------------------------------------------------------*/

/* Servicos */
.separador {
    width: 100%;
    border-top: 4px solid #e7e7e7;
}

.img-responsive {
    margin-left: 10% ;
    margin-top: 1% ;
    width: 75% ;
    height: 70%;
}

.saiba_mais{
    position: relative;
    box-sizing: border-box;
    margin: 5px;
    padding: 10px;
    border: 1px solid transparent;
    background-color: #ee3b24;
    color: white;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.15s linear 0s;
    bottom: 8px;
}

.saiba_mais:hover{
    background-color: rgb(202, 28, 5);
    color: white;
    text-decoration: none;
}

.linha{
    display: block;
    margin: 20px auto;
    content: "";
    width: 80px;
    height: 5px;
    background: #EE3B24;
}

#autoecontrole{
    background-color: #f8f8f8;
    width: 100%;
}

/*----------------------------------   Tipografia   -------------------------------------------*/
/*---------------------------------------------------------------------------------------------*/

.tituloServicos{
    position:relative;
    color:#EE3B24;
    margin-top: 20px;
    font-weight: 700;
}

.subtitulo_servicos {
    color: #012e5e;
    font-weight: 600;
}

.texto {
    font-size: 16pt;
    color: black;
    text-align: justify;
}
